/**
 * Posts
 */
 .post-header {
    margin-bottom: $spacing-unit;
}
  
.post-title,
.post-content h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1.15;

    @media screen and (min-width: $on-laptop) {
        @include relative-font-size(2.625);
    }
}

.post-content {
    h1, h2, h3 { margin-top: $spacing-unit }
    h4, h5, h6 { margin-top: $spacing-unit }

    h2 {
        @include relative-font-size(1.75);

        @media screen and (min-width: $on-laptop) {
            @include relative-font-size(2);
        }
    }

    h3 {
        @include relative-font-size(1.375);

        @media screen and (min-width: $on-laptop) {
            @include relative-font-size(1.625);
        }
    }

    h4 {
        @include relative-font-size(1.25);
    }

    h5 {
        @include relative-font-size(1.125);
    }
    h6 {
        @include relative-font-size(1.0625);
    }
}


article, .comments, .box {
    padding: $spacing-unit;
    background: $content-color;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    margin: 25px 0;
    @include media-query($on-mobile) {
        padding: 0;
        background: transparent;
        box-shadow: none;
    }
}
.comments {
    @media screen and (min-width: $on-mobile) {
        padding:15px $spacing-unit;
    }
}

.page-content {
    margin-top: 80px;
}